<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div>
  <h2>Add new User</h2>
  <div class="row">

    <div class="col-sm">
    </div>

    <div class="col-sm" align="center">
      <form action="#" th:action="@{/admin/save}" th:object="${user}"
            method="POST">
      <div class="form-group">
        <label for="name">First Name</label></br>
        <input type="text" class="form-control"
               th:field="*{firstName}"
               placeholder="Name" id = "name"></br>
      </div>
      <div class="form-group">
        <label for="name">Last Name</label></br>
        <input type="text" class="form-control"
               th:field="*{lastName}"
               placeholder="LastName" ></br>
      </div>
      <div class="form-group">
        <label for="name">Email address</label></br>
        <input type="text" class="form-control"
               th:field="*{email}"
               placeholder="Email"></br>
      </div>
      <div class="form-group">
        <label for="name">Password</label></br>
        <input type="text" class="form-control"
               th:field="*{password}"
               placeholder="Password"></br>
      </div>
      <div class="form-group">
        <label for="name">Role</label>
        <select multiple class="form-control" id="role">
          <option th:each="role: ${roles}" th:value="${role.getId()}" >
            <th:block th:text="${role.getRoleWithoutPrefix()}">
            </th:block>
          </option>
        </select>
      </div>

        <button type="submit" class="btn btn-success btn-lg" >Add new user</button>
      </form>
    </div>

    <div class="col-sm">
    </div>

  </div>





  <a th:href = "@{/admin}"> Back to User List</a>

</div>
<form  action="#"  th:action="@{/logout}" method="get">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>